

<footer>
     <div class="footer-logo">
         <img src="/logo.jpg" alt="footer logo">
     </div>
     <nav>
        <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/bollywood-movies">Bollywood Movies</a></li>
           <li><a href="/hollywood-movies">Hollywood Movies</a></li>
           <li><a href="/web-series">Web Series</a></li>
           <li><a href="/old-movies">Old Movies</a></li>
           <li><a href="/recommendation">Our Recommendation</a></li>
        </ul>
    </nav>
    <div class="copyright">
        <p>&copy; Movies Mandi</p>
    </div>
</footer>

<script src="/home.js"></script>
</body>
</html>