
<%- include('partials/header.ejs') %> 


    <main id="movies-main">

        <h1>Download 3 Idiots movie Movie (2009){Hindi-English} 480P[400MB] || 720P[1.1GB] </h1>
           <div class="movie-box">
                 <img src="./images.jpg" alt="">
                 <div class="movie-box-head">
                     <h2>3 Idiots <span class="medium">(2020)</span></h2>
                     <p><span class="small"> 160 min | Action, Sci-Fi | 25 Dec 2009</span></p>
                 </div>
                 <div class="movie-box-rating">
                     <span class="xl">
                         <i class="fa fa-star">8.4</i>
                     </span>
                     <p><span class="white-beauty">Rating :</span> 8.4/10 from 340,000 users <br> <span class="white-beauty">Metascore : </span>74</p>
                 </div>
                 <div class="movie-box-content">
                     <p>Two friends are searching for their long last companion. They revisit their college days and recall the memories of their friend who inspired them to think differently, even as the rest of the world called them "idiots"</p>
                 </div>
                 <div class="movie-people-info">
                     <p><span class="white-beauty"> Director : </span>Raj Kumar Hiran8</p>
                     <p><span class="white-beauty"> Creator : </span>Raj Kumar Hirani</p>
                     <p><span class="white-beauty"> Actors : </span>Aamir Khan, Kareena Kapoor, R Madhvan and others</p>
                 </div>
            </div>
            <div class="movie-info">
                <h3>Movie Info -:</h3>
                <ul>
                  <li><p><span class="black-beauty">Full Name : </span>3 Idiots (2009)</p></li> 
                 <li><p><span class="black-beauty">Language : </span>Hindi</p></li>
                 <li><p><span class="black-beauty">Subtitle : </span>Yes</p></li>
                 <li><p><span class="black-beauty">Size : </span>1.1 GB</p></li>
                 <li><p><span class="black-beauty">Quality : </span>480P, 720P & 1080P</p></li>
                 <li><p><span class="black-beauty">Format : </span>Mkv</p></li>
                </ul>
            </div>
            <div class="storyline">
                <h3>Storyline</h3>
                <p>Two friends are searching for their long last companion. They revisit their college days and recall the memories of their friend who inspired them to think differently, even as the rest of the world called them "idiots". Two friends are searching for their long last companion. They revisit their college days and recall the memories of their friend who inspired them to think differently, even as the rest of the world called them "idiots".</p>
 
            </div>
            <div class="screenshot">
             <img src="./download.jpg" alt="">
             <img src="./download (1).jpg" alt="">
             <img src="./download (2).jpg" alt="">
             </div>
         <div class="download-section">
             <p>Download 3 Idiots (2009) Hindi || 720P [1.1Gb]</p>
             <a href="#">Download Now</a>
         </div>
 
     </main>
 
 
<%- include('partials/footer.ejs') %> 
 